tages_buchungen = Booking.query.filter_by(datum=ausgewaehlter_tag).all()

    segmente = build_day_segments(
        ausgewaehlter_tag, tages_buchungen, current_user.id, current_user.is_admin()
    )

    return render_template(
        'kalender.html',
        ausgewaehlter_tag=ausgewaehlter_tag,
        vorheriger_tag=vorheriger_tag,
        naechster_tag=naechster_tag,
        segmente=segmente,
        buchungsarten=BUCHUNGSARTEN,
        stundensatz=STUNDENSATZ,
        slot_start_hour=SLOT_START_HOUR,
        slot_end_hour=SLOT_END_HOUR,
    )
